.body-can-btn {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .open-can-btn {
        color: #ffffff;
        padding: 1rem;
        border: none;
        border-radius: 15px;
        background-color: #141414;
    }

}
